.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
/* navbar */
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}

/* chat */
.Chat {
  z-index: 100;
  position: fixed;
  right: 10px;
  bottom: 0;
  width: 350px;
  border: 1px solid #ccc;
}
.form {
  padding: 30px;
}
.input  {
  display: block;
  width: 100%;
  margin: 20px auto;
  height: 50px;
  font-size: 20px
}
.submit  {
  height: 40px;
  padding: 0 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.chatapp  {
  margin: 0 auto;
  height: 80vh;
  border: 1px solid #a1a1a4;
}
.header  {
  padding: 20px;
  color: white;
  margin-top: 0;
  text-align: left;
  border-bottom: 1px solid black;
  background-color: black;
}
.message-list  {
  background-color: white;
  list-style-type: none;
  padding: 0px 20px;
  overflow: scroll;
  max-height: calc(100vh - 150px);
  margin-bottom: 35px;
}
.message-sender  {
  font-weight: bold;
  font-size: 1em;
  margin: 0;
}
.message-text  {
  margin-bottom: 20px;
  margin-top: 5px
}
.message-input  {
  width: 70%;
  height: 50px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  font-size: 18px;
  padding-left: 2px
}
.message-submit  {
  width: 30%;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.input-field {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.chat-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: black;
  height: 50px;
  font-size: 16px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  box-shadow: 1px 1px 4px 1px grey;
  cursor: pointer;
}

.form-container {
  height: 400px;
  border: 1px solid black;
}
.form-container h1 {
  padding: 10px;
  background-color: black;
  font-size: 20px;
  color: white;
  margin: 0;
  margin-bottom: 10px;
}

.form {
  padding: 30px;
}

.input  {
  display: block;
  width: 100%;
  margin: 20px auto;
  height: 50px;
  font-size: 20px
}

.submit  {
  height: 40px;
  padding: 0 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.g-signin2{
      margin: 50px 0 0 1150px;
    } 
     .data{
      display: none;
      margin: 40px;
    }.col-sm-4{
      text-align: center;
      max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
  border-radius: 8px;
  font-size: 15px;
	font-family: Georgia, "Times New Roman", Times, serif;
    }.img-circle{
      margin: 0 575px 5px 
    }.emailAddy{
      font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 40px;
	margin: 0 400px 0;
	outline: 0;
	padding: 10px;
	width: 35%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
    }

.map {
  z-index: 50;
}
.dangerButton{
  border: 2px solid black;
}
